<html>
    <head>
        <title>{{global.site_name}}</title>
    </head>
    <body>
        <!--anytime rendering http link do triple curly brace-->
        <img src="{{{page.image_profile}}}" alt="image of hacker girl character">
        <h1>{{page.greeting}}</h1>
        <p>{{page.introduction}}</p>

        <h3>Programming languages</h3>
        <ol>
            {{#page.languages}} <!--indicates this is a loop-->
            <li>
                {{name}}, {{years}} year(s) of experience
            </li>
            {{/page.languages}} <!--indicates to end the loop-->
        </ol>
        <!-- > tells mustache its a partial-->
        {{>page.form}}

    </body>
</html>